.card {
  border: 1px grey solid;
  margin-bottom: 2rem;
}

.card-header {
  border-bottom: 1px grey solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightgrey;
}

.card-title {
  margin: 0;
  font-size: 1.5rem;
  padding: 10px;
}

.card-menu:hover {
  cursor: pointer;
}

.card-body {
  padding: 1rem;
}
